.hero {
  height: 100vh;
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/f562aaf4-5dbb-4603-a32b-6ef6c2230136/dh0w8qv-9d8ee6b2-b41a-4681-ab9b-8a227560dc75.jpg/v1/fill/w_1192,h_670,q_70,strp/the_netflix_login_background__canada__2024___by_logofeveryt_dh0w8qv-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzIwIiwicGF0aCI6Ii9mL2Y1NjJhYWY0LTVkYmItNDYwMy1hMzJiLTZlZjZjMjIzMDEzNi9kaDB3OHF2LTlkOGVlNmIyLWI0MWEtNDY4MS1hYjliLThhMjI3NTYwZGM3NS5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.FScrpAAFnKqBVKwe2syeiOww6mfH6avq-DRHZ_uFVNw");
  background-size: cover;
  background-position: center;
}


/* DARK CINEMATIC OVERLAY */
.overlay {
  width: 100%;
  height: 100%;
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.85),
      rgba(0, 0, 0, 0.35),
      rgba(0, 0, 0, 0.85)
    );
  display: flex;
  justify-content: center;
  align-items: center;
}

/* NAVBAR */
.nav {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 24px 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.logo {
  height: 40px;
}

.navRight {
  display: flex;
  gap: 16px;
}

.lang {
  background: transparent;
  color: white;
  border: 1px solid gray;
  padding: 6px 12px;
}

.signIn {
  background: #e50914;
  color: white;
  border: none;
  padding: 6px 16px;
  cursor: pointer;
  border-radius: 4px;
}

/* CONTENT */
.content {
  color: white;
  text-align: center;
  max-width: 800px;
  padding: 0 20px;
}

.content h1 {
  font-size: 3rem;
  font-weight: 800;
}

.content h2 {
  margin-top: 16px;
  font-weight: 400;
}

.content p {
  margin-top: 16px;
}

/* EMAIL INPUT */
.inputBox {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  gap: 8px;
  flex-wrap: wrap;
}

.inputBox input {
  padding: 14px;
  width: 300px;
  border: none;
  outline: none;
}

.inputBox button {
  background: #e50914;
  color: white;
  border: none;
  padding: 14px 24px;
  font-size: 1rem;
  cursor: pointer;
}
.curve {
  border: none;
  height: 4px;
  width: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    #e50914,
    transparent
  );
  border-radius: 50px;
  margin: 0;
}

